#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


@font-face {
  font-family: 'Clash Display';
  src: url('./assets/fonts/ClashDisplay-Variable.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, Roboto, Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom, #e5cdf3, #def1f3);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #292929;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


#home-button {
  font-family: 'Clash Display', sans-serif;
  font-size: 2rem;
  color: #4f46e5;
  letter-spacing: 1px;
  text-decoration: none;
}



nav {
  display: flex;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  border: 1px solid rgba(79, 70, 229, 0.7);
  background-color: rgba(79, 70, 229, 0.2);
  color: white;
  font-weight: 500;
  transition: background-color 0.2s, transform 0.2s;
}

nav a:hover {
  background-color: rgba(55, 48, 163, 0.2);
  transform: translateY(-2px);
}

#home-container {
  display: flex;
  flex-direction: column;

}

#home-head {
  font-size: 60px;
  font-weight: 200;
  padding: 50px 50px 10px 50px;
}

#home-intro {
  font-size: 20px;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
}

#home-tech-stack-div {
  border: 2px solid #13122e;
  border-radius: 8px;
  margin: 50px 50px 10px 50px;
}

#home-tech-stack-div-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#home-tech-stack-head {
  font-size: 30px;
  font-weight: 600;
}